//variables---------------------------------------------
$Jost: "Jost", sans-serif;
$Roboto: "Roboto", sans-serif;
//--colors----------------------------------------------
$mani-black: #0d1414;
$green: #5d9e84;
$Patina: #5d9e84;
$Alabaster: #f7f7f7;
$Gray: #808080;
//--end of colors---------------------------------------
//end of variables--------------------------------------